name: Build-CSharp-Forwarder

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 1. 拉取代码
        uses: actions/checkout@v4

      - name: 2. 配置 MSBuild (C# 编译器)
        uses: microsoft/setup-msbuild@v1

      - name: 3. 执行编译
        run: |
          # /target:winexe 确保生成的是带界面的程序，没有黑窗口
          # /reference:System.Windows.Forms.dll 引用界面库
          csc /target:winexe /out:RouteForwarder_CSharp.exe /reference:System.Windows.Forms.dll,System.Drawing.dll main.cs

      - name: 4. 上传成品
        uses: actions/upload-artifact@v4
        with:
          name: CSharp_Binary
          path: RouteForwarder_CSharp.exe
