name: Build-CSharp-Pro

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Publish Single EXE
        run: |
          # 使用 publish 命令生成单个 EXE 文件
          dotnet publish -c Release -r win-x64 --self-contained false /p:PublishSingleFile=true

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: RouteForwarder_Pro
          path: bin/Release/net8.0-windows/win-x64/publish/RouteForwarderPro.exe
