name: Build-Bulianglin-Style

on:
  workflow_dispatch: # 开启手动触发按钮
  push:
    paths:
      - '**.cs'     # 只有代码变动才编译
      - '**.csproj' # 只有配置变动才编译
    branches:
      - main        # 只在主分支变动时触发

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Publish Single EXE
        run: |
          dotnet publish -c Release -r win-x64 --self-contained false /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: RouteForwarder_Final
          path: bin/Release/net8.0-windows/win-x64/publish/RouteForwarder.exe
