- name: 准备依赖
        run: |
          if (!(Test-Path go.mod)) { go mod init routeforwarder }
          # 强制清理并下载所有缺失的库
          go mod tidy
          go get github.com/lxn/walk
          go get github.com/lxn/win
          # 再次整理，确保 win 库被激活
          go mod tidy

      - name: 编译 (带管理员引导)
        run: |
          go build -ldflags="-s -w -H windowsgui" -o RouteForwarder_V2.exe main.go
